.inspiration-screen {
	z-index: 7;
	background-color: transparent;
	backdrop-filter: blur(10px);
}
.inspiration-screen .content {
	margin-bottom: 20px;
}

.inspiration-screen .content > h1 {
	margin-bottom: 15px;
}

.inspiration-content h1 {
	font-size: 1rem;
}
