.instruction-screen {
	z-index: 7;
	background-color: transparent;
	backdrop-filter: blur(10px);
}

.instruction-screen .content {
	margin-bottom: 50px;
}

.instruction-screen .content > h1 {
	margin-bottom: 25px;
}

.instruction-content h1 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.instruction-content ul > li{
	list-style: inside circle;
	  font-size: 0.8rem;
	  font-weight: lighter;
	  font-style: italic;
}
   
.tap {
	position: absolute;
	bottom: 5%;
	width: 5vh;
	height: 5vh;
	border-radius: 50%;
	/* background-color: rgba(0, 0, 0, 0.5); */

	display: flex;
	justify-content: center;
	align-items: center;
	/* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
}
.t1 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	/* background-color: #000000; */
	border: 2px solid black;
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.597));
	animation: tapping_anim 1s 0s linear infinite;
}

@keyframes tapping_anim {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(1.5);
	}
}
